<h1>Confidence Kickstarter</h1>

<div class="center jumbotron">
	<h3>Want to ride without fear?</h3>
	<h3>Want to enjoy riding again?</h3>

	<h3>Confidence kickstarter workshops</h3>
</br>
	<div class='border'>
	<p><strong>The Unicorn Trust - Stow on the Wold</strong></p>
	<p>New courses in May and July - dates TBC</p>
	</div>
	<br>
	<div class='border'>
	<p><strong>Summerhouse Equestrian Centre - Gloucestershire</strong></p>
	<p>New courses in September and October - dates TBC</p>
	</div>
	<br>
		<p><%= image_tag("nkc_03.png", alt: "NKC Equestrian Training", class: "picture") %>	</p>
	<p>Join us for an interactive day where we will help you lose the fear, and help you to enjoy your riding again</p>
	<p>You will learn:</p>
	<ul>
		<li>How to give clear messages to your horse - What aids you should be applying, how and why</li>
		<li>How you should be sitting to be a partner to your horse - not a passenger</li>
	</ul>

	<p>We will look at what your mental ‘blockers’ are, what is holding you back</p>

	<p>You will have a session working on your strength and flexibility</p>

	<p>You will work your horse inhand, we will show you how to work your horse from the ground, introducing lateral movements such as leg yield and shoulder in.</p>

	<p>You will also have the opportunity for a ridden session, or this can be swapped to an additional inhand session if you prefer.</p>

	<p>We will provide you with refreshments on arrival, lunch, afternoon tea and stabling for your horse for the day.</p>

	<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>	
</div>