<h1>Contact Us</h1>

<div class="center jumbotron">
	<p>We would love to hear from you.
	If you would like more information about our clinics or events, need help booking or would like to request a course in your area please get in touch</p>

	<h3>Email: nkcequine@gmail.com </h3>
	<h3><%= link_to "Facebook: NKC Equine Fitness", "https://www.facebook.com/nkcequestriantraining/", target: "_blank" %> </h3>
	<h3>Mobile: 07824 326245</h3>
</div>