<h1>Contact</h1>

<h2>Email: nkcequine@gmail.com </h2>
<h2><%= link_to "Facebook: NKC Equine Fitness", "https://www.facebook.com/nkcequinefitness2016/", target: "_blank" %> </h2>
<h2>Mobile: 07824 326245</h2>