<h1>Course Walks</h1>

<div class="center jumbotron">
	<h3>We also offer course walks at major British Eventing competitions</h3>

	<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>	
</div>	