<h1>Equine First Aid Courses</h1>

<h2>Are you sick of conflicting advice about your horse?</h2>
<h2>Don't know how to deal with an equine emergency?</h2>
<h2>Wish you knew more about lameness?</h2>

<h2>Don't know how to cope with colic?</h2>
<h2>Confused about what to keep in your equine first aid kit?</h2>

<h2>Want to know how you can prevent illness and injury in your horse?</h2>

<h3>The Equine First Aid course has been designed to make you more confident to cope with equine emergencies and everyday ailments, and understand more about preventative health care.</h3>

<p>You don't need to own a horse to attend, perhaps you returning to riding or share a horse, this information is still very relevant.</p>

<p>Whether you want to update your first aid knowledge, or fill in some gaps this course will provide you with the information you need.</p>

<p><strong>Courses are running in the following locations:</strong></p>
<ul>
	<li>Gloucestershire - Siddington</li>
	<li>Berkshire - Padworth</li>
	<li>Hampshire - Near Winchester</li>
	<li>Oxfordshire - Watlington</li>
	<li>Surrey - Elstead</li>
	<li>Surrey - Dorking</li>
	<li>Worcestershire - <i>coming in 2018</i></li>
	<li>Somerset - <i>coming in 2018</i></li>
	<li>Kent - <i>coming in 2018</i></li>
</ul>


<h2>Claim your FREE Vet Care PDFs - print and pop in your tack room</h2>