<h1>Horse First Aid Courses</h1>

<div class="center jumbotron">

	<h3>Confused about when to call the vet?</h3>
	<h3>What the most updated research on colic?</h3>
	<h3>This very popular Horse First Aid Course is a one day workshop, and the training will be delivered by a qualified vet.</h3>

	<p>On this course you will learn all about preventative health care, and the importance of knowing ‘normal’ for your horse. Our vet for the day will teach you which vital signs you can monitor and the importance of doing this. Vaccinations and other health markers are also discussed.</p>

	<p>You will discover exactly what you should have in your horse first aid kit, why these items are so important and we will help you create an emergency plan for your horse. You will be taught about different types of wounds, and how to treat these.</p>

	<p>Equine emergencies, such as colic and choke are discussed and you become learn on exactly when you need to call the vet. On the course you will also be taught about infectious diseases and we will outline lots of practical ideas to improve bio-security for you horse.</p>

	<p>This course is accredited with the BHS and you will receive a certificate for attending.</p>

<div class='course-summary'>
	<h3>Course Summary</h3>
	<ol>
		<li>Preventative Health Care</li>	
		<li>The Equine First Aid</li>	
		<li>Wounds and wound care</li>	
		<li>Horse Emergencies (colic, choke and cast) and what to do</li>	
		<li>When to call the vet (eye injuries, lameness, snotty noses)</li>	
		<li>Infectious diseases</li>	
	</ol>
</div>

<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>
</div>