<h1>Event Rider Clinics</h1>

<div class="center jumbotron">
	<h3>We run a variety of clinics with world class event riders including Mary King, Paul Tapner, Richard Waygood, Harry Meade and Mark Todd.</h3>

	<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>	
</div>	