<h1>Frequently Asked Questions</h1>

<div class="center jumbotron">

	<p><strong>Will the course be for me?</strong></p>
	<p>If you are worried that one of our one day workshops will be too basic, or perhaps you’re concerned you might be out of your depth don’t worry.</br>
	Our Horse First Aid Courses, Practical First Aid and Horse Anatomy courses are all covered by our money back guarantee- if you aren’t satisfied with the course you can receive your money back (full terms and conditions are on the booking site).
	</p>

	<p><strong>What if I can’t make a course I have booked on to?</strong></p>
	<p>We understand that things go wrong and sometimes you can’t make a course. If we can refill your space we will happily transfer you to another course. We work really hard to fill any spaces and request that delegates work with us on this.
	</p>

	<p><strong>Who will be delivering the training?</strong></p>
	<p>A qualified vet always delivers the training on our Horse First Aid Courses, Practical First Aid and Horse Anatomy courses. Our vets have a wealth of experience, and undertake regular CPD so you can rest assured that you getting the most updated advice from a veterinary professional.
	</p>

	<p><strong>What is included in a course?</strong></p>
	<p>All of our courses include refreshments, and we usually offer an option to book a place with lunch included. We provide printed resources on the day, and send you more course materials after the workshop, you will also get a certificate for attending.</p>
</div>