<div class="center jumbotron">

	<h1>Welcome to NKC Equestrian Training!</h1>
	<%= image_tag("nkc_02.jpg", alt: "NKC Equestrian Training", class: "picture") %>	
	<p>Happy horses and confident riders</p>

	<p>Want to achieve more with your horse? Improve your competition results</p>

	<p>Nicola is an experienced instructor with over 15 years teaching experience
	<ul id="home_bullet">
		<li>BHS Accredited coach</li>
		<li>BD trainee judge</li>
		<li>Classically trained</li>
		<li>Insuranced</li>
		<li>First aid trained</li>
	</ul>
	</p>

	<%= image_tag("nkc_06.png", alt: "NKC Equestrian Training", class: "small_pic") %>	

	<p>I offer riding lessons for all ages and abilities.</p>

</div>

<h3>What our clients say about us</h3>
	<p><i>"I now have a torch in my horsey first aid kit"</i></p>
	<p>Anne-Marie, Aldermaston</p>
	<br>

	<p><i>"Really handy to be able to check information easily on my phone"</i></p>
	<p>Lottie, Cirencester</p>
	<br>

	<p><i>"I now monitor temperature for new horses on our yard"</i></p>
	<p>Jo, Reading</p>
	<br>
