<h1>Welcome to NKC Equestrian!</h1>
<p>Happy horses and confident riders</p>

<p>Want to achieve more with your horse?Improve your competition results</p>

<p>Nicola is an experienced instructor with over 15 years teaching experience
<ul>
	<li>BHS Accredited coach</li>
	<li>BD trainee judge</li>
	<li>Classically trained</li>
	<li>Insuranced</li>
	<li>First aid trained</li>
</ul>
</p>

<p>I offer riding lessons for all ages and abilities.</p>


