<h1>Horse Anatomy and Seasonal Care Course</h1>

<div class="center jumbotron">
	<h3>Want to understand your horse inside out?</h3>
	<h3>Want to know more about laminitis?</h3>
	<h3>Find out why this isn’t a condition affecting fat ponies in the Spring?</h3>
	<h3>Worried about ulcers? Is your horse at risk?</h3>

	<p>On this course you will find out all about the horse's digestive system, how your horse breaks down its food and we will teach you about common conditions such as gastric ulcers and colic. Discover the best way to feed and manage your horse, and how to keep your horse as healthy as possible.</p>

	<p>We will show you how the lower leg is structured, and you will understand more about common conditions and injuries affecting the lower leg. On many of these courses our vet will complete a  lower leg dissection which is a really fascinating way to truly understand how the horse is put together.</p>

	<p>We will look at seasonal conditions which could affect your horse, and our vet will give you lots of advice on how to prevent and manage these diseases.</p>

	<div class='course-summary'>
		<h3>Course Summary</h3>
		<ol>
			<li>The Gastro Intestinal System</li>	
			<li>The lower leg</li>
			<li>Seasonal conditions including</li>
			<ul>
				<li>Laminitis, PPID, Equine Metabolic Sydrome</li>
				<li>Seasonal Myopathy</li>
				<li>Grass sickness</li>
				<li>Sweet itch</li>
				<li>Mud fever</li>
				<li>Heat stroke</li>
				<li>Headshaking</li>
			</ul>
		</ol>
	</div>

<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>
</div>
