<h1>Horse Anatomy</h1>

<div class="center jumbotron">
	<h3>Want to understand how your horse works?</h3>
	<h3>Want to learn all about the digestive system and how to feed your horse like a horse?</h3>
	<h3>Are you worried about gastric ulcers- is your horse at risk?</h3>
	<h3>Would you love to understand more about common lower leg injuries and conditions such as laminitis, splints, navicular and tendon injuries?</h3>

	<br>

	<p>This course is designed to help you feed, manage and exercise your horse better by giving you all the information on how your horse works.</p>

	<p>We look at the digestive system, finding out exactly how your horse turns grass into poo. Obviously it’s not as simple as that, the horse’s GI system is very complicated and we look out what goes wrong focusing on Gastric Ulcers and colic. We will help you make improvements to feeding and management to help reduce the incidences of these conditions occurring.</p>

	<p>The structure of the lower leg is covered, and our vet completes a lower leg dissection so that we can really find out which tendons and ligaments go where.  Common conditions such as laminitis, navicular and tendon injuries are covered.</p>

	<p>We then look at the structure and design of the horse’s back and kissing spines</p>	
</div>

<h3>What our clients say about the course</h3>
<p>Helen (Southampton)</p>
<p><i>"Thank you for providing such an insightful, fascinating course! I enjoyed it immensely and I rushed back to recommend it to all my horsey friends along with the Horse First Aid Course. I thought that this would be a useful day, but wow I learnt so much more. Looking at the models and the lower leg were worth a 1000 books."</i></p>

<br>

<p>Janet (Windsor)</p>
<p><i>"The training days are so professionally run and the vet was amazing, keeping our attention throughout the day. The information on the Horse Anatomy Course was very useful and presented in a common sense, easy to understand manner. I will be so much more confident dealing with my special girl,Autumn, especially with the spring and the threat of laminitis. Looking at the anatomy of the leg and hoof was fascinating. I have a completely new insight into her mobility."</i></p>

<br>

<p>Geoff (Marlow)</p>
<p><i>"I go to a lot of courses and lectures in my line of work, but really do believe that your Horse Anatomy day was one of the best and most enjoyable I have ever been to (in over 30+ years)."</i></p>
