
<h1>Lessons</h1>

<h3>Nicola has a limited amount of spaces for freelance clients</h3>
<h2>Want to improve your confidence with your own horse?</h2>
<h2>Want to get better results competing? Would you like support at shows?</h2>

<p><strong>About Nicola</strong></p>
<%= render 'layouts/bio' %>

<br>

<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-success">Book now</a>

<br>
<br>




