<h1>Lessons</h1>

<h2>Get the results you deserve!</h2>
<ul>
	<li>Improve your position</li>
	<li>Gain harmony with your horse</li>
	<li>Understand the scales of training</li>
</ul>

<h3>Pricing</h3>
<table>
	<tr>
		<th>Lesson</th>
		<th>Length</th>
		<th>Price</th>
	</tr>
	<tr>
		<td>Equine Fit</td>
		<td>60 mins</td>
		<td>£40</td>
	</tr>
</table>
<br>
<h3>Book online</h3>
<a href="https://bookwhen.com/nkcequestriantraining" title="Book online" target="_blank"><img src="https://d1abtw6bgq2xi2.cloudfront.net/images/bookonline_button.png" alt="Book online" style="width:105px;height:22px;" /></a>
