<h1>Practical Horse First Aid</h1>

<div class="center jumbotron">
	<p>On this 2 hour short course our vet for the day will show you how to measure vital signs, such as temperature, pulse and respiration rates on a real horse. You will be shown how to apply bandages and poultices, and our vet will demonstrate exactly how much tension is required.</p>

	<h3>Course Summary</h3>
	<div class='course-summary' style="margin-right: 5%;">
		<ol>
			<li>Measuring vital signs - taking temperature, pulse and respiration rates</li>
			<li>Bandaging</li>
			<li>Poulticing</li>
		</ol>
	</div>
<a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-info">See Dates</a>
</div>