<div class="center jumbotron">

<!-- ------ Quiz Starts Here ------ -->
<h1>Equine First Aid Quiz</h1>
<h3>Test your equine first aid knowledge</h3>
</div>
<form action="http://www.quizbox.com/builder/result.aspx?max=5&q=5" method="post">
<input type="hidden" name="QuizTitle" value="Equine First Aid Quiz" />
<input type="hidden" name="QuizReturnLink" value="https://bookwhen.com/nkcequestriantraining" />
<ol>
<strong><li>What is the normal respiration rate for a healthy horse</li></strong>
<input type="radio" name="ans1" value="0"/> 15-20 breathes p/min<br />
<input type="radio" name="ans1" value="0"/> 5-7 breathes p/min<br />
<input type="radio" name="ans1" value="0"/> 12-16 breathes p/min<br />
<input type="radio" name="ans1" value="1"/> 8-12 breathes p/min<br /><br />

<strong><li>Your horse comes in from the field with a large laceration down his leg covered in dry blood. What</li></strong>
<input type="radio" name="ans2" value="0"/> Keep an eye on it<br />
<input type="radio" name="ans2" value="1"/> Clean the wound to see it better<br />
<input type="radio" name="ans2" value="0"/> Give your horse some antibiotics<br />
<input type="radio" name="ans2" value="0"/> Apply a pressure bandage<br /><br />

<strong><li>Your horse is sweating, seems agitated and is kicking at his belly. What do you do?</li></strong>
<input type="radio" name="ans3" value="0"/> Feed your horse and check in the morning<br />
<input type="radio" name="ans3" value="0"/> Walk the horse<br />
<input type="radio" name="ans3" value="0"/> Exercise your horse<br />
<input type="radio" name="ans3" value="1"/> Evaluate Temperature, Pulse and Respiration rates  and gut sounds<br /><br />

<strong><li>Your horse has a swollen eye, and the eye is closed. What should you do first? </li></strong>
<input type="radio" name="ans4" value="0"/> Find some eye ointment in the tack room<br />
<input type="radio" name="ans4" value="0"/> Force the eye open to investigate<br />
<input type="radio" name="ans4" value="1"/> Call the vet<br />
<input type="radio" name="ans4" value="0"/> Observe it for 24 hours<br /><br />

<strong><li>What is pneumonia?</li></strong>
<input type="radio" name="ans5" value="1"/> A bacterial infection in the lungs<br />
<input type="radio" name="ans5" value="0"/> A virus affecting the respiratory tract<br />
<input type="radio" name="ans5" value="0"/> Irritation in the respiratory  tract<br />
<input type="radio" name="ans5" value="0"/> An allergy of the respiratory tract<br /><br />
</ol>
<div class="center jumbotron">
You are still confused about when to call the vet? Still don't know what your horses's vital signs are?<br /><br />Why don't you update your first aid knowledge?<br />Equine First Aid Course running in YOUR area.<br /><br />
</div>
<p><input type="submit" value="Tell me how much do I know?" class="btn btn-success" onclick="this.value='Please wait...'" /></p>

</form>
<!-------- Quiz Ends Here -------->
