<h1>Success Stories</h1>

<p><i>I am much more aware of what is normal for my horse temperature, respiration and pulse, and have also recorded insurance details and worst case scenario thoughts on colic surgery etc.</i></p>
<p><i>I really enjoyed the day and came away feeling it was a worthwhile investment of my time and money</i></p>
<p>Anne-Marie (Berkshire)</p>

<br>

<p><i>Was good to refresh and be mindful of how best to approach wounds, colic, illnesses in order to prevent more serious outcomes. Will definitely be monitoring vital signs regularly as a result of coming on the course</i></p>
<p>Lesley and Rachel (Wantage)</p>

<br>

<p><i>I feel very confident that I know a lot about colic now. I have never been told the process from start to finish before and it was very helpful and interesting. </i></p>
<p>Lottie (Siddington)</p>

<br>

<p><i>It was the first course I have seen like this, informative and interesting day. Great value for money</i></p>
<p>Jo (Cirencester)</p>

<br>