<% @posts.each do |post| %>
	<h1 class="post-title"><%= link_to post.title, post %></h1>
	<%= link_to image_tag(post.image_url.to_s, class: "img-responsive blog-image") %>
	<% if session[:admin] then %>
 		<%= link_to edit_post_path(post), class: "btn btn-default" do %>
 			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
 		<% end %>
	<% end %>
<% end %>