<% @posts.each do |post| %>
	<%= link_to(image_tag(post.image_url.to_s, class: "homepage-course"), post) %>
	<% if session[:admin] then %>
 		<%= link_to edit_post_path(post), class: "btn btn-default" do %>
 			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
 		<% end %>
	<% end %>
<% end %>