<p>I gained my BHSAI qualification in 2005, and I have combined teaching as a freelance instructor alongside managing equestrian centres both in the UK and in Greece.</p>

<h3>Career Highlights:</h3>
<ul>
	<li>Winner of the Hendelah Waley Equestrian Fund in 2006. A bursary set up for young instructors to develop their career</li>
	<li>Regional Finalist BHS Young Instructor of the Year 2007, an invaluable day of coaching and development where I gained some very positive and encouraging feedback on my teaching.</li>
	<li>Awarded an MSc in Applied Equine Science with distinction in 2010.</li>
	<li>showing my lovely horse Castleview Othello at County level (2011, 2012, 2013)</li>
</ul>