<footer class="navbar">
	
	<nav>
		<%= link_to image_tag("NKC_logo_white.png", alt: "NKC Equestrian Training", class: "logo-footer"), root_path %>
		<ul class = "nav navbar-nav navbar-right">
			<li><a href="https://bookwhen.com/nkcequestriantraining" target="_blank" class="btn btn-success">Book online</a></li>
			<li><a href="https://www.facebook.com/nkcequinefitness2016/" target="_blank">Follow on Facebook</a></li>
		</ul>

	</nav>

	</footer>